//variaveis

$timeColor: 0.90s; 
$timeStock: 0.50s; 

@mixin default-title {
  letter-spacing: 0;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  font-size: 8em
}
.container-title { //container das letras da animação do texto
  @include default-title();
}
.title-container-card-color { //container pai contendo todos os itens da animação 
  position: relative; 
  > span.animate-color {
    color: var(--citraine) !important;
  }
  > .animate-color:nth-child(1) {
    transition: opacity 2s ease-in-out $timeColor;
   }
   > .animate-color:nth-child(2) {
    transition: opacity 2s ease-in-out $timeColor * 1.2;
   }
   > .animate-color:nth-child(3) {
    transition: opacity 2s ease-in-out $timeColor * 1.4;
   }
   > .animate-color:nth-child(4) {
    transition: opacity 2s ease-in-out $timeColor * 1.6;
   }
   > .animate-color:nth-child(5) {
    transition: opacity 2s ease-in-out $timeColor * 1.8;
   } 
}
.title-container-stock {
  > span { 
    -webkit-text-stroke: 1px var(--citraine);
    color: transparent;
  }
  > .animate-stock:nth-child(1) {
    transition: opacity 1s ease-in-out 0s;
  }
  > .animate-stock:nth-child(2) {
    transition: opacity 1s ease-in-out $timeStock;
  }
  > .animate-stock:nth-child(3) {
    transition: opacity 1s ease-in-out $timeStock * 1.2;
  }
  > .animate-stock:nth-child(4) {
    transition: opacity 1s ease-in-out $timeStock * 1.6;
  }
  > .animate-stock:nth-child(5) {
    transition: opacity 1s ease-in-out $timeStock * 1.9;
  } 
}

body {
  height: 1000px;
}

//setando animação com codições 




@keyframes animationStock {
  0% { 
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



@keyframes animationColor {
  0% { 
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}