@mixin default-title {
  letter-spacing: 0;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
}
.container-title {
  @include default-title();
}
.title-container-card-color {
  font-size: 7em;
  > span {
    color: var(--citraine);
  }
  > span:nth-child(1) {
    transition: opacity 2s ease-in-out 0s, color 1s ease-in-out 0.5;
  }
  > span:nth-child(2) {
    transition: opacity 2s ease-in-out 0.43s;
  }
  > span:nth-child(3) {
    transition: opacity 2s ease-in-out 0.84s;
  }
  > span:nth-child(4) {
    transition: opacity 2s ease-in-out 1.05s;
  }
  > span:nth-child(5) {
    transition: opacity 2s ease-in-out 1.26s;
  }
}
.title-container-card-stock {
  font-size: inherit;
  color: transparent;
  -webkit-text-stroke: 1px var(--citraine);

  > span:nth-child(1) {
    transition: opacity 1s ease-in-out 0s;
  }
  > span:nth-child(2) {
    transition: opacity 1s ease-in-out 0.43s;
  }
  > span:nth-child(3) {
    transition: opacity 1s ease-in-out 0.84s;
  }
  > span:nth-child(4) {
    transition: opacity 1s ease-in-out 1.05s;
  }
  > span:nth-child(5) {
    transition: opacity 1s ease-in-out 1.26s;
  }
}

body {
  height: 1000px;
}

div[is_intersecting="false"]
  > .title-container-card-color
  > .title-animation-color {
  opacity: 0;
}
div[is_intersecting="true"]
  > .title-container-card-color
  > .title-animation-color {
  opacity: 1;
}
